## Additional Imdb data

In [1]:
# Import Libraries
import pandas as pd

In [2]:
# Read CSV files in
imdb_add = pd.read_csv("datasets/tv_shows.csv")

In [3]:
imdb_add.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

In [4]:
# Drop columns that aren't needed
imdb_add = imdb_add.drop(columns=["Unnamed: 0", "ID", "Netflix", "Hulu", "Prime Video", "Disney+", "Type", "Rotten Tomatoes"], axis=1)

# View updated df
imdb_add.head()

              Title  Year  Age    IMDb
0      Breaking Bad  2008  18+  9.4/10
1   Stranger Things  2016  16+  8.7/10
2   Attack on Titan  2013  18+  9.0/10
3  Better Call Saul  2015  18+  8.8/10
4              Dark  2017  16+  8.8/10

In [5]:
# Fix the column names in the dataframe
fixed_columns = {
    "Year":"Release Year",
    "Age":"Age Certification",
    "IMDb":"Imdb Score"
}

# Check column names are displaying correctly
imdb_add.rename(columns=fixed_columns, inplace=True)
imdb_add.head()

              Title  Release Year Age Certification Imdb Score
0      Breaking Bad          2008               18+     9.4/10
1   Stranger Things          2016               16+     8.7/10
2   Attack on Titan          2013               18+     9.0/10
3  Better Call Saul          2015               18+     8.8/10
4              Dark          2017               16+     8.8/10

In [6]:
imdb_add_cleaned = imdb_add
%store imdb_add_cleaned

Stored 'imdb_add_cleaned' (DataFrame)